body{
  padding:10px;
  margin:5px;
}

header{
  background-image:url("images/flywheel.jpg");
}
h1,h2{
  font-variant:small-caps;
  color:#dce4f5;
  text-align:center;
  font-family:serif,Arial,"Times New Roman";
  text-transform:uppercase;
}

h2{
  text-align:left;
}

nav>a{
  color: #021236;
  background-color:rgba(0,0,0,0.4);
  text-decoration:none;
  border-radius: 5px;
  display:inline-block;
  width:20%;
  text-align:center;
  padding:10px;
  margin:10px;
}
.active{
  background-color: #ffffff;
}
.left img{
  display:block;
  width:70%;
  margin:20px auto;
  border:1px solid #000;
}
.left{
  float:left;
  background-color: #eb5a50;
  width:20%;
  height:100%;
}

.right{
  box-sizing:border-box;
  float:right;
  width:80%;
  padding-left: 10px;
  background-color:#956ef0;
}
